
<body>
<header>
    <button id="reset">reset</button>
    <button id="pause">pause</button>
    <button id="start">start</button>
    <span id="player-one-score"></span>
    <span id="player-one-lives"></span>
    <span id="player-two-score"></span>        
    <span id="player-two-lives"></span>
    <br>
    <div>            
        <span>[ SPACEBAR ] - warp jump</span>
        <span id="build">&copy;2015-2019 <a href="https://twitter.com/8_bit_hacker">@8_bit_hacker</a></span>
    </div>
</header>

<canvas></canvas>
</body>
