<!--
<h2 *ngIf="this.pause">stopped</h2>
<h2 *ngIf="this.running">playing</h2>
<h2 *ngIf="this.isGameover">game over c':</h2>
<h2 *ngIf="!this.pause&&!this.running&&!this.isGameover">press start to begin!</h2>
--> 
<h1>Snake Game!</h1>
<p *ngIf="!this.game.started || this.game.gameover">Click start to begin</p>
<p *ngIf="this.game.started && !this.game.paused">Playing</p>
<p *ngIf="this.game.paused">Paused</p>

<canvas tabindex=1 #canv focus (keydown)="changeDir($event.keyCode)"></canvas>

<br />
<button [disabled]="this.game.started && !this.game.paused" (click)="start()">start</button>
<button [disabled]="!this.game.started || this.game.paused" (click)="pause()">stop</button>
<button [disabled]="!this.game.started" (click)="reset()">reset</button>

<div *ngIf="this.game.started">
    <br />
    <label>Food eaten: </label>
    <input type="number" [ngModel]="this.game.getFoodEaten()" />

    <br />
    <label>Total length: </label>
    <input type="number" [ngModel]="this.game.getLength()" />
</div>
